.container{
    background-color: #0C0816;
    display: flex;
    text-align: center;
    color: white;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #1D1333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    margin: 10px 10px 0px 10px;
}

.headerButtons{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.hbutton{
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.language{
    padding-right: 40px;
}

button{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

.projects{
    margin-top: 30px;
}

.firstProject p{
    margin: 100px 0px 25px 20%;
    max-width: 60%;
}

.firstProject img{
    width: 75%;
}

.secondProject p{
    margin: 100px 0px 25px 20%;
    max-width: 60%;
}

.secondProject img{
    width: 30%;
    margin: 0px 15px;
}

.third p{
    margin: 100px 0px 25px 20%;
    max-width: 60%;
}

.third img{
    border-radius: 500px;
    max-width: 80%;
}

.github{
    margin: 70px 0px 25px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Responsividade */
@media screen and (max-width: 1400px) {
    p, button{
    font-size: 20px;
    }
}     
@media screen and (min-width: 1401px) {
    p, button{
    font-size: 25px;
    }
}   

@media screen and (max-width: 1400px) {
    h1{
    font-size: 40px;
    }
}     
@media screen and (min-width: 1401px) {
    h1{
    font-size: 50px;
    margin-bottom: 60px;
    }
}   

@media screen and (max-width: 1400px){
    .github img{
        height: 60px;
        margin-left: 5px;
    }
}   
@media screen and (min-width: 1401px) {
    .github img{
        height: 90px;
        margin-left: 5px;
    }
}   


